<h3><%= t('menu.sources')%></h3>
<table class="table table-striped"><tr>
  <th><%= t('source.image')%></th>
	<th><%= t('source.reference')%></th>
</tr>
<% @sources.each do |s| %>
  <tr>
    <td><%= link_to image_tag("refs/" + s.image ,width: "60"), s %></td>
		<td><%= s.reference%></td>
</tr>
<%end%>
</table>
