<h3><%= @source.code %></h3>
<div class="row">
	<div class="col-md-2">
		<%= image_tag "refs/" + @source.image,width: "120" %>
	</div>
	<div class="col-md-10">
		<dl class="dl-horizontal">
			<dt>Reference:</dt><dd><%= @source.reference %></dd>
			<dt>#Units:</dt><dd><%= @source.units.count() %></dd>
			<dt>#People:</dt><dd><%= @source.people.count() %></dd>
			<dt>#Unit-Person links:</dt><dd><%= @source.uplinks.count() %></dd>
			<dt>#Unit_Event links:</dt><dd><%= @source.uelinks.count() %></dd>
		</dl>
	</div>
</div>
