<h3><%= @person.fullname %></h3>
<dl class="dl-horizontal">
<dt>LastName:</dt><dd><%= @person.lastname %>
<dt>FirstName:</dt><dd><%= @person.firstname %>
<%if !@person.rank.nil? %><dt>Rank:</dt><dd><%= @person.rank.name_fr %></dd><%end%>
<%if !@person.title.nil? %><dt>Title:</dt><dd><%= @person.title.name_fr %></dd><%end%>
<%if !@person.nation.nil? %><dt>Nation:</dt><dd><%= @person.nation.name_fr %></dd><%end%>
<% if !@person.units.empty? %>
<% @person.uplinks.each do |up| %>
	<dt><%= up.role.name_fr %>:</dt><dd><%= link_to up.unit.name, up.unit %></dd>
<%end%>
<%end%>
</dl>

<p>Source:<%= link_to @person.source.code, @person.source %></p>
