<h3><%= @person.fullname %></h3>
<dl class="dl-horizontal">
<dt><%= t('person.lastName')%>:</dt><dd><%= @person.lastname %>
<dt><%= t('person.firstName')%>:</dt><dd><%= @person.firstname %>
<%if !@person.rank.nil? %><dt><%= t('person.rank')%>:</dt><dd><%= @person.rank.name %></dd><%end%>
<%if !@person.title.nil? %><dt><%= t('person.title')%>:</dt><dd><%= @person.title.name %></dd><%end%>
<%if !@person.nation.nil? %><dt><%= t('person.nation')%>:</dt><dd><%= @person.nation.name %></dd><%end%>
<% if !@person.units.empty? %>
<% @person.uplinks.each do |up| %>
	<dt><%= up.role.name_fr %>:</dt><dd><%= link_to up.unit.name, up.unit %></dd>
<%end%>
<%end%>
</dl>

<p><%= t('source.source')%>:<%= link_to @person.source.code, @person.source %></p>
