<h3><%= t('menu.about')%></h3>
<div class="well">
<p><b>JunIBIS</b> website is dedicated to mapping the Campaign of Belgium in June 1815.</p>
<p>Fan of Napoleonic history, especially passionate for the First Empire wars, and poured into the area of ​​digital mapping, I wanted to create interactive maps depicting the Campaign of Belgium of June 1815. I quickly received help from a longtime friend whose book knowledge wisely complement my computer skills. The abundant literature on the subject allowed us to compile the troops movements during the first days of the campaign.</p>
<p>The three founding principles of our project are: <b>open data</b>, <b>free access</b> and <b>sources attribution</b>.
Our maps are available under <%= link_to 'CC-BY-3.0', 'https://creativecommons.org/licenses/by/3.0/fr/'%> license that allows anyone "to copy, distribute and transmit the material by any means and in any format, to remix, transform and create from the equipment through the allocation-to-c to credit the authors and indicate any changes. "
</p>
<p>The interactive maps result of a meticulous work of analysis and compilation from many sources.</p>
<p>For more information, please visit our <%= link_to 'project blog','http://scriptogr.am/andrejjh'%> in French.</p>
</div>
<dl class="dl-horizontal">
<dt><%= t('about.concept')%></dt><dd>André Heughebaert</dd>
<dt><%= t('about.content')%></dt><dd>Eric Iven</dd>
<dt><%= t('about.maps')%></dt><dd>Géoportail de la Région Wallonne</dd>
</dl>
