<h3><%= t('menu.about')%></h3>
<div class="well">
<p><b>JunIBIS</b> est un site dédié à la cartographie de la Campagne de Belgique en Juin 1815.</p>
<p>Féru d'histoire napoléonienne, plus particulièrement passionné des batailles de l'Empire, et versé dans le domaine de la cartographie numérique, j'ai eu envie de créer des cartes interactives retraçant la Campagne de Belgique en 1815. Afin de m'aider dans cette tâche, j'ai rapidement reçu l'aide d'un ami de longue date dont les connaissances livresques complètent judicieusement mes compétences informatiques. L'abondante littérature sur le sujet nous a permis de compiler les déplacements troupes durant les premiers jour de la campagne.</p>
<p>Les trois principes fondateurs de notre projet sont:l'<b>ouverture des données</b>, la <b>gratuité</b>, et le <b>référencement des sources</b>.<br>
Nos cartes sont d'ailleurs accessibles sous licence <%= link_to 'CC-BY', 'https://creativecommons.org/licenses/by/3.0/fr/'%> qui autorise quiconque «à copier, distribuer et communiquer le matériel par tous moyens et sous tous formats, à remixer, transformer et créer à partir du matériel» moyennant <b>l'attribution</b> c-à-d de créditer les auteurs et indiquer les éventuels changements.</p>
</p>
<p>Les cartes interactives sont le résutlat d'un travail minutieux d'analyse et de compilation de nombreuses <%= link_to "sources", sources_path %>.</p>
<p>Vous avez des commentaires ou des questions sur ce site... N'hésitez pas à nous contacter par <%= link_to 'courriel', 'mailto:andrejjh+junibis@gmail.com' %> ou rejoingez-nous sur <%= link_to image_tag("g+icon_grey.png", width: "24"),'https://www.google.com/+JunibisBe'%></p>
</div>
<hr>
<dl class="dl-horizontal">
<dt><%= t('about.concept')%></dt><dd>André Heughebaert</dd>
<dt><%= t('about.content')%></dt><dd>Eric Iven</dd>
<dt><%= t('about.maps')%></dt><dd>Géoportail de la Région Wallonne</dd>
<dt><%= t('about.translations')%></dt><dd>Carla Messina</dd>
</dl>
<hr>
<h4><%= t('about.links') %></h4>
<table class="table table-striped">
<tr>
	<td><%= link_to image_tag("links/FondationNapoleon.jpg" ,height: "60"), "http://www.napoleon.org/", :target => "_blank" %></td>
	<td><%= link_to "Fondation Napoléon", "http://www.napoleon.org/", :target => "_blank" %></td>
</tr>
<tr>
	<td><%= link_to image_tag("links/BelleAlliance.jpg" ,height: "60"), "http://belle-alliance.be/", :target => "_blank" %></td>
	<td><%= link_to "Editions de la Belle-Alliance, Jean-Philippe Tondeur","http://belle-alliance.be/", :target => "_blank" %></td>
</tr>
<tr>
	<td><%= link_to image_tag("links/RouteGrouchy.png" ,height: "60"), "http://www.napoleon-grouchy-1815.com/", :target => "_blank" %></td>
	<td><%= link_to "Route Armée Grouchy", "http://www.napoleon-grouchy-1815.com/", :target => "_blank" %></td>
</tr>
<tr>
	<td><%= link_to image_tag("links/MTAB.png" ,height: "60"), "http://www.mtab.be/", :target => "_blank" %></td>
	<td><%= link_to "Maison du Tourisme Ardennes Brabançonnes", "http://www.mtab.be/", :target => "_blank" %></td>
</tr>
</table>
