<h3><%= t('menu.about')%></h3>
<div class="well">
<p><b>JunIBIS</b> website widmet sich der Kampagne von Belgien in Juni 1815 Abbildung.</p>
<p>Fan der napoleonischen Geschichte, vor allem leidenschaftlich für die ersten Kaiserreichs Kriege und in den Bereich der digitalen Kartierung gegossen, wollte ich interaktiven Karten der Darstellung der Kampagne von Belgien im Juni 1815 habe ich schnell Hilfe erhalten von einem langjährigen Freund, dessen Buch Wissen zu schaffen klug ergänzen meine Computerkenntnisse. Die umfangreiche Literatur zu diesem Thema konnten wir die Truppen Bewegungen in den ersten Tagen der Kampagne zu kompilieren.</p>
<p>Die drei Grundprinzipien unseres Projektes sind: <b>offene Daten</b>, <b>freien Zugang</b> und <b>Quellen Zuschreibung</b>.
Unsere Karten sind unter <%= link_to 'CC-BY-3.0', 'https://creativecommons.org/licenses/by/3.0/de/'%> Lizenz, die jemand "das Material in jedwedem Format oder Medium vervielfältigen und weiterverbreiten, remixen, verändern und darauf aufbauen und zwar für beliebige Zwecke, sogar kommerziell. Unter Namensnennung bedingung: Sie müssen angemessene Urheber- und Rechteangaben machen, einen Link zur Lizenz beifügen und angeben, ob Änderungen vorgenommen wurden.</p>
<p>Die interaktiven Karten Ergebnis einer sorgfältigen Arbeit der Analyse und Zusammenstellung von vielen <%= link_to "quelllen", sources_path %>.</p>
<p>Für weitere Informationen, besuchen Sie bitte unsere <%= link_to 'Projekt-Blog',"http: //scriptogr.am/andrejjh"%> Französisch.</p>
</div>
<dl class="dl-horizontal">
<dt><%= t('about.concept')%></dt><dd>André Heughebaert</dd>
<dt><%= t('about.content')%></dt><dd>Eric Iven</dd>
<dt><%= t('about.maps')%></dt><dd>Géoportail de la Région Wallonne</dd>
</dl>
