<h3><%= t('menu.about')%></h3>
<div class="well">
<p><b>JunIBIS</b> is een website om de Campagne van België, in juni 1815, in kaart te brengen.</p>
<p>Fan van Napoleontische geschiedenis, meer voor de eerste keizerrijk oorlogen, en expert van database en digitale kaarten, wilde ik interactieve kaarten beeltenis van de Campagne van België van Juni 1815.
Snel kreeg ik hulp van een vriend wiens boek kennis maken wijselijk vullen mijn computer expertise. De overvloedige literatuur liet ons toe om de troepen bewegingen te compileren tijdens de eerste dagen van de campagne.</p>
<p>De drie grondbeginselen van ons project zijn: <b>open data</b>, <b>gratis access</b> en <b>bronnen attributie</b>.
Onze kaarten zijn verkrijgbaar onder <%= link_to 'CC-BY', 'https://creativecommons.org/licenses/by/3.0/nl/'%> licentie waarmee iedereen «te remixen, te veranderen en afgeleide werken te maken voor alle doeleinden, inclusief commerciële doeleinden»
door naamsvermelding - De gebruiker dient de maker van het werk te <b>vermelden</b>, een link naar de licentie te plaatsen en <b>aan te geven of het werk veranderd is</b>.<br>
De interactieve kaarten resultaat van een zorgvuldige werk van analyse en compilatie uit vele <%= link_to "bronnen", sources_path %>.
Voor meer informatie, bezoek onze <%= link_to 'project blog', 'http: //scriptogr.am/andrejjh'%> in het Frans.
</div>
<hr>
<dl class="dl-horizontal">
<dt><%= t('about.concept')%></dt><dd>André Heughebaert</dd>
<dt><%= t('about.content')%></dt><dd>Eric Iven</dd>
<dt><%= t('about.maps')%></dt><dd>Géoportail de la Région Wallonne</dd>
</dl>
<hr>
<h4><%= t('about.links') %></h4>
<table class="table table-striped">
<tr>
<td><%= link_to image_tag("links/BelleAlliance.jpg" ,height: "60"), "http://belle-alliance.be/", :target => "_blank" %></td>
<td><%= link_to "Les Editions de la Belle-Alliance, Jean-Philippe Tondeur","http://belle-alliance.be/", :target => "_blank" %></td>
</tr>
<tr>
<td><%= link_to image_tag("links/FondationNapoleon.jpg" ,height: "60"), "http://www.napoleon.org/", :target => "_blank" %></td>
<td><%= link_to "Fondation Napoléon", "http://www.napoleon.org/", :target => "_blank" %></td>
</tr>
<tr>
<td><%= link_to image_tag("links/RouteGrouchy.png" ,height: "60"), "http://www.napoleon-grouchy-1815.com/", :target => "_blank" %></td>
<td><%= link_to "Route Armée Grouchy", "http://www.napoleon-grouchy-1815.com/", :target => "_blank" %></td>
</tr>
</table>
