<h3><%= t('menu.about')%></h3>
<div class="well">
<p><b>JunIBIS</b> website is dedicated to mapping the Campaign of Belgium in June 1815.</p>
<p>Fan of Napoleonic history, especially passionate for the First Empire wars, and poured into the area of ​​digital mapping, I wanted to create interactive maps depicting the Campaign of Belgium of June 1815. I quickly received help from a longtime friend whose book knowledge wisely complement my computer skills. The abundant literature on the subject allowed us to compile the troops movements during the first days of the campaign.</p>
<p>The three founding principles of our project are: <b>open data</b>, <b>free access</b> and <b>sources attribution</b>.
Our maps are available under <%= link_to 'CC-BY', 'https://creativecommons.org/licenses/by/3.0/en/'%> license that allows anyone «to copy, distribute and transmit the material by any means and in any format, to remix, transform and create from the equipment» under the attribution term : you must give appropriate credit and indicate if changes where made.
</p>
<p>The interactive maps result of a meticulous work of analysis and compilation from many <%= link_to "sources", sources_path %>.</p>
<p>If you have comments or questions on this site ...just drop me an
 <%= link_to 'email', 'mailto:andrejjh+junibis@gmail.com' %> or join us on <%= link_to image_tag("g+icon_grey.png", width: "24"),'https://www.google.com/+JunibisBe'%></p>
</div>
<hr>
<dl class="dl-horizontal">
<dt><%= t('about.concept')%></dt><dd>André Heughebaert</dd>
<dt><%= t('about.content')%></dt><dd>Eric Iven</dd>
<dt><%= t('about.maps')%></dt><dd>Géoportail de la Région Wallonne</dd>
<dt><%= t('about.translations')%></dt><dd>Carla Messina</dd>
</dl>
<hr>
<h4><%= t('about.links') %></h4>
<table class="table table-striped">
<tr>
<td><%= link_to image_tag("links/BelleAlliance.jpg" ,height: "60"), "http://belle-alliance.be/", :target => "_blank" %></td>
<td><%= link_to "Les Editions de la Belle-Alliance, Jean-Philippe Tondeur","http://belle-alliance.be/", :target => "_blank" %></td>
</tr>
<tr>
<td><%= link_to image_tag("links/FondationNapoleon.jpg" ,height: "60"), "http://www.napoleon.org/", :target => "_blank" %></td>
<td><%= link_to "Fondation Napoléon", "http://www.napoleon.org/", :target => "_blank" %></td>
</tr>
<tr>
<td><%= link_to image_tag("links/RouteGrouchy.png" ,height: "60"), "http://www.napoleon-grouchy-1815.com/", :target => "_blank" %></td>
<td><%= link_to "Route Armée Grouchy", "http://www.napoleon-grouchy-1815.com/", :target => "_blank" %></td>
</tr>
</table>
