<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= link_to image_tag("maps/Static.png"), static_maps_path, :target => "_blank"%>
        <div class="container">
          <div class="carousel-caption">
            <h1><%= t('map.static')%></h1>
          </div>
        </div>
      </div>
      <div class="item">
        <%= link_to image_tag("maps/Dynamic.png"), dynamic_maps_path, :target => "_blank" %>
        <div class="container">
          <div class="carousel-caption">
            <h1><%= t('map.dynamic')%></h1>
          </div>
        </div>
      </div>
      <div class="item">
        <%= link_to image_tag("maps/Places.png"), places_maps_path,  :target => "_blank" %>
        <div class="container">
          <div class="carousel-caption">
            <h1><%= t('map.places')%></h1>
          </div>
        </div>
      </div>
      <div class="item">
        <%= link_to image_tag("maps/Manoeuvers.png"), paths_maps_path,  :target => "_blank" %>
        <div class="container">
          <div class="carousel-caption">
            <h1><%= t('map.manoeuvers')%></h1>
          </div>
        </div>
      </div>
      <div class="item">
        <%= link_to image_tag("maps/CraanNotes.png"), notes_maps_path,  :target => "_blank" %>
        <div class="container">
          <div class="carousel-caption">
            <h1><%= t('map.craannotes')%></h1>
          </div>
        </div>
      </div>

  </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
