<h3><%= @unit.name %></h3>

<div class="row">
    <div class="col-md-10">
<dl class="dl-horizontal">
<dt>Code:</dt><dd><%= @unit.code %></dd>
<dt>Nation:</dt><dd><%= @unit.nation.name %></dd>
<% @unit.uplinks.each do |up| %>
  <dt><%= up.role.name %>:</dt><dd><%= link_to up.person.fullname, up.person %></dd>
<%end%>
<%if !@unit.absence.nil? %><dt>Status:</dt><dd><%= @unit.absence.name %></dd><%end%>
<%if !@unit.parent.nil? %><dt>Parent:</dt><dd><%= link_to @unit.parent.name, @unit.parent %></dd><%end%>
</dl>
</div>
<div class="col-md-2">
  <%= image_tag @unit.icon.path ,width: "50"%>
</div>
</div>
<table class="table table-striped"><tr>
  <th><%= t('unit.code')%></th>
  <th><%= t('unit.name')%></th>
  <th><%= t('unit.staff')%><br><%= number_with_delimiter(@unit.ems) %></th>
  <th><%= t('unit.officers')%><br><%= number_with_delimiter(@unit.officers) %></th>
  <th><%= t('unit.rank')%><br><%= number_with_delimiter(@unit.men) %></th>
  <th><%= t('unit.total')%><br><%= number_with_delimiter(@unit.total) %></th>
  <th><%= t('unit.bataillons')%><br><%if !@unit.bataillons.nil? && @unit.bataillons !=0 %><%=@unit.bataillons%><%end%></th>
  <th><%= t('unit.squadrons')%><br><%if !@unit.squadrons.nil? && @unit.squadrons !=0 %><%=@unit.squadrons%><%end%></th>
  <th><%= t('unit.batteries')%><br><%if !@unit.batteries.nil? && @unit.batteries !=0 %><%=@unit.batteries%><%end%></th>
</tr>
<% @unit.children.each do |u| %>
  <tr>
    <td><%= u.code %></td>
    <td><%= link_to u.name, u %><%if !u.absence.nil? %>(ยง)<%end%></td>
    <td><%= number_with_delimiter(u.ems) %></td>
    <td><%= number_with_delimiter(u.officers) %></td>
    <td><%= number_with_delimiter(u.men) %></td>
    <td><%= number_with_delimiter(u.total) %></td>
    <td><%if !u.bataillons.nil? && u.bataillons !=0 %><%= u.bataillons%><%end%></td>
    <td><%if !u.squadrons.nil? && u.squadrons !=0 %><%= u.squadrons%><%end%></td>
    <td><%if !u.batteries.nil? && u.batteries !=0 %><%= u.batteries%><%end%></td>
  </tr>
<% end %>
</table>
<%if !@unit.uelinks.empty? %>
<p><%= t('events')%>:
<% @unit.uelinks.each do |ue| %>
&nbsp;<%= link_to ue.event.code, ue.event %>(<%= link_to ue.source.code, ue.source %>),
<%end%>
</p>
<%end%>
<p><%= t('source.source')%>:<%= link_to @unit.source.code, @unit.source %></p>
